/* HomePage.css */
.home-container {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed {
  width: 70%;
  margin-top: 20px;
}

.feed h2 {
  color: #0073b1;
  margin-bottom: 20px;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
