/* JobDetails.css */
.job-details-container {
  background-color: #f3f2ef;
  padding: 20px;
}

.job-details {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-details h2 {
  color: #0073b1;
}

.job-details p {
  color: #666;
}

.apply-button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #005f90;
}
