/* JobList.css */
.job-list-container {
  background-color: #f3f2ef;
  padding: 20px;
}

.job-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-list h2 {
  color: #0073b1;
  margin-bottom: 20px;
}
