/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 15px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navbar a:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-radius: 5px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
