/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 24px;
  color: #0073b1;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #0073b1;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
}
